@model dynamic
@{
    ViewBag.Title = "Route";
}

<h2>Route</h2>
<table>
    <thead>
        <tr>
            <th>Controller</th>
            <th></th>
            <th>Action</th>
            <th>Attributes</th>
            <th>ReturnType</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Controller


            </td>
            <td>/</td>
            <td>@Html.ActionLink((string)item.Action, (string)item.Action, (string)item.Controller)</td>
            <td>@item.Attributes </td>
            <td>@item.ReturnType</td>
        </tr>
    }
</table>

<code>
   
    $routeProvider
    @foreach (var item in Model)
    {
        <p>
            .when('/@item.Action',{
            <br>templateUrl: '/@item.Controller/@item.Action',
            <br>controller: '@(item.Controller)Controller',})
        </p>
        @*@item.Controller
        @item.Action
        @item.Attributes
        @item.ReturnType*@
    }

</code>
